body {
    background-color:MediumSeaGreen;
}

div {
    text-align:right;
	font-size:15px;
}
#abc {
    color:red;
}

[href] {
    color:green;
}
.sun{
    color:white;
}
div+h2 {
    background-color:yellow;
}
div p{
    Background-color:White;
}
/*h4+h5 {
    color:yellow;
}*/
h4~h5 {
    color:red;
}
.sun {
    text-align : justify;
}
pre {
    margin: 0px 0px;
}

